<main>

  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Hola mundo</h2>
  <h3 class='text-capitalize'>Adios pais español</h3>
  <hr />

  <div class='display-1 text-muted'> Hello world</div>
  <div class='display-5'>Hola mundo</div>
  <div class='display-6'>Adios pais</div>
  <hr />

  <div class='text-muted text-center'>
    El texto
    <span class='display-6'> añadido</span>
    <hr />

    <a href='#' class='btn btn-primary'>
      Button primary
      <h1>Test</h1>
    </a>

    <hr />

    <div class='card'>
      <div class='card-body'>
        <p class='text-primary'>My text</p>
        <p class='text-muted'>My text</p>
      </div>
    </div>
    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        <button class='btn btn-outline-primary btn-lg'>My
          second button</button>
        <button
          class='btn btn-outline-secondary btn-sm'
        >Redactar</button>
        <button
          class='btn btn-outline-danger'
        >Borrar</button>
      </div>
    </div>

    <br />
    <br />
    <br />

    <div class='card'>
      <div class='card-body'>

        <button class='btn btn-outline-primary btn-lg'>My
          second button</button>
        <button
          class='btn btn-outline-secondary btn-sm'
        >Redactar</button>
        <button
          class='btn btn-outline-danger'
        >Borrar</button>

      </div>
    </div>
    <br />
    <br />
    <br />
    <div class='card'>
      <div class='card-body'>
        Este es nuestro texto
      </div>
    </div>

  </div>

</main>