<div>
  <h1>{{name}}</h1>
  <section class="my-5">
    <div class="ms-3">
    {{#each users}}
      {{> persface}}
        {{> title data="Friends" big=false}}
        <ul class="ms-3">
            {{#each friends}}
            <li>
                {{> persface}}
                
                {{> title data="Mutual friends" big=false}}
                    <ul class="ms-3"> 
                    {{#each mutual_friends}}
                        <li>
                            {{> persface}}
                        </li>
                    {{/each}}
                    
                    </ul>
               {{> groupfaceb}}
            </li>
            {{/each}}
        </ul>
        {{> groupfaceb}}
    {{/each}}
    </div>
    
  </section>
</div>