<main>
  <div class='card'>
    <div class='card-body'>
      {{#with heading}}
        {{#with main}}
          <h1 class='text-primary'>{{title}}</h1>

          <p class='text-primary'>{{text}}</p>

        {{/with}}
      {{/with}}

    </div>
  </div>
</main>