<div class='card text-bg-dark p-2'>
  <h2>{{header}}</h2>
  <p>{{description}}</p>
  {{#each buttons}}
    <div class='col-3'>
      <a
        href='{{link}}'
        class='btn btn-primary mb-2 ms-0'
      >{{text}}</a>
    </div>
  {{/each}}
</div>